# 공통 / Visual Studio

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.VC.db
*.VC.opendb
*.opendb

# 빌드 산출물
*.obj
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.tmp

# 임시/캐시
*.ipch
*.pch
*.cachefile

# Unreal Client 프로젝트

# 언리얼 빌드 결과 / 캐시
Client/Binaries/
Client/DerivedDataCache/
Client/Intermediate/
Client/Saved/

# 에디터용 VS 설정
Client/.vs/

# Plugins 내부 빌드 결과
Client/Plugins/*/Binaries/
Client/Plugins/*/Intermediate/

# 맵 빌드 데이터
*_BuiltData.uasset

# Pak 관련 (언리얼 기본 템플릿과 비슷하게)
!Client/Build/*/
Client/Build/*/**
!Client/Build/*/PakBlacklist*.txt
!Client/Build/**/*.ico

# C++ 로그인 Server 프로젝트

# VS 설정
Server/.vs/

# 빌드 출력 (Debug/Release, x64)
Server/x64/
Server/Debug/
Server/Release/
Server/**/Debug/
Server/**/Release/

# 기타 빌드 산출물
Server/**/*.obj
Server/**/*.pdb
Server/**/*.log

# OS 공통 쓰레기 파일
.DS_Store
Thumbs.db

# 에셋
Client/Content/Assets/